@media (min-width: 1600px) {
	/*.container{
		width:1600px !important;
	}*/
	.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
		vertical-align: bottom !important;
		text-align: center !important;
	}
}
#payment-modal .modal-dialog{
	margin-top: 100px;
}

.apply-job-modal #payment-form {
	padding: 30px;
}
.apply-job-modal input {
	background-color: #ffffff;
}
table{
	font-size: 12px !important;
}

#page-content-wrapper {
	padding: 0px;
}
.job-breadcrumb {
	padding: 7px 0px 0px 0px;
}

.job-breadcrumb h3{
	margin: 7px 40px;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 15px;
}
.img-responsive{
	margin-left: -40px;
}
.navbar-nav > li {
	margin-left: -50px;
}

.navbar-default {
	margin-bottom: 3px !important;
	max-height: 67px;
}
.login-header-btn{
	margin-top:10px;
}

section {
	padding: 50px 10px;
}

.job-short-detail dt {
	width: 50%;
}
.job-short-detail dd {
	width: 50%;
}
.table-hover > tbody > tr:hover {
	background-color: #dffbd6 !important;
}
td a{
	font-size:20px;
	color: #363636;
}
td.has-button{
	padding-top: 2px !important;
	padding-bottom: 2px !important;
}
.apply-job-modal textarea {
	background-color: #FFF !important;
}
.seller-info{
	font-size:17px;
	font-weight: 400;
	margin-bottom: 50px;
	padding-bottom: 20px;
	border-bottom: double 1px;
}
.seller-info span{
	font-size:13px;
	margin-right:10px;
}
.seller-info label{
	margin-left: 20px;
	margin-right: 20px;
}
.heading-inner button{
	background-color: #dadada;
	float: right;
	margin-right: 30px;
	margin-top: 12px;
}